<template>
  <main>
    <h1>{{ date }}</h1>

    <form v-on:submit.prevent="getLatLong">
      <input
        type="text"
        v-model="cityName"
        placeholder="Entrez le nom d'une ville"
      />
    </form>
    <span id="error" v-if="error">{{ error }}</span>

    <div id="mainweather" v-if="label && !error">
      <div id="weather">
        <div id="labelweather">
          <div><img :src="img" /></div>
          <div>
            <h2>{{ label }}</h2>
          </div>
        </div>
        <div id="temp">
          <h3>{{ temp }}</h3>
        </div>
      </div>
      <div id="suntime">
        <div class="sun">
          <img src="../assets/sunrise.svg" />
          <p>{{ sunrise }}</p>
        </div>
        <div class="sun">
          <img src="../assets/sunset.svg" />
          <p>{{ sunset }}</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Dashboard",
  props: ["cfgOpenWeatherMap", "cfgUnsplash", "date", "backgroundImg"],
  data() {
    return {
      cityName: "",
      sunrise: "",
      sunset: "",
      img: "",
      temp: "",
      label: "",
      error: "",
    };
  },

  methods: {
    getLatLong() {
      let urlGeoCoding = `http://api.openweathermap.org/geo/1.0/direct?q=${this.cityName}&limit=1&appid=${this.cfgOpenWeatherMap.key}`;
      fetch(urlGeoCoding)
        .then((resp) => {
          if (!resp.ok) {
            throw new Error(resp.statusText);
          }
          return resp.json();
        })
        .then((data) => {
          if (data[0]) {
            this.loadWeather(data[0].lat, data[0].lon);
            this.error = "";
            this.getPhotoUnsplash();
          } else {
            this.error = "Aucune ville trouvée";
          }
        })
        .catch("console.err" + console.err);
    },
    loadWeather(lat, lon) {
      let urlOpenWeatheMap = `https://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lon}&appid=${this.cfgOpenWeatherMap.key}&units=${this.cfgOpenWeatherMap.units}&lang=${this.cfgOpenWeatherMap.lang}`;

      fetch(urlOpenWeatheMap)
        .then((resp) => {
          if (!resp.ok) throw new Error(resp.statusText);
          return resp.json();
        })
        .then((data) => {
          this.showWeather(data);
        })
        .catch(console.err);
    },
    showWeather(data) {
      this.sunrise =
        new Date(data.daily[0].sunrise * 1000).getHours() +
        "h" +
        new Date(data.daily[0].sunrise * 1000).getMinutes();

      this.sunset =
        new Date(data.daily[0].sunset * 1000).getHours() +
        "h" +
        new Date(data.daily[0].sunrise * 1000).getMinutes();
      this.img = `http://openweathermap.org/img/wn/${data.daily[0].weather[0].icon}@4x.png`;
      this.label = data.daily[0].weather[0].description;
      this.label = this.label[0].toUpperCase() + this.label.substring(1);
      this.temp = Math.ceil(data.daily[0].temp.day) + "°c";
    },
    getPhotoUnsplash() {
      let urlUnsplash = `https://api.unsplash.com/search/photos?query=${this.cityName}&client_id=${this.cfgUnsplash.key}`;
      fetch(urlUnsplash)
        .then((resp) => {
          if (!resp.ok) {
            throw new Error(resp.statusText);
          }
          return resp.json();
        })
        .then((data) => {
          let imgUrl = "";
          if (data.results[0] == undefined) {
            imgUrl = this.backgroundImg;
          } else {
            imgUrl = data.results[0].urls.regular;
          }
          this.$parent.changeBg(imgUrl);
        })
        .catch(console.err);
    },
  },
};
</script>

<style scoped>
h1 {
  font-weight: 400;
}
h2 {
  color: #515158;
  font-size: 16px;
}
h3 {
  display: block;
  align-self: right;
  background: #e58b53;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
main {
  width: 380px;
  margin: 200px auto;
}
@media screen and (max-width: 400px) {
  main {
    width: 340px;
  }
}
form input {
  padding: 15px 0px 15px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: #515158;
  font-size: 18px;
  border-radius: 5px;
}
input:focus {
  outline: none;
}
#mainweather {
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  margin-top: 40px;
}
#weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#weather img {
  width: 100px;
  height: 100px;
}
#labelweather {
  display: flex;
  align-items: center;
}
#suntime,
.sun {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sun {
  margin-right: 40px;
}
.sun img {
  margin-right: 10px;
}
.sun p {
  color: #515158;
}
#error {
  margin-top: 20px;
  color: #e15555;
  display: block;
}
</style>
