<template>
  <div
    id="app"
    v-bind:style="{ backgroundImage: 'url(' + backgroundImg + ')' }"
  >
    <Dashboard
      v-bind:cfgOpenWeatherMap="cfgOpenWeatherMap"
      v-bind:cfgUnsplash="cfgUnsplash"
      v-bind:date="date"
      v-bind:backgroundImg="backgroundImg"
    />
  </div>
</template>

<script>
import Dashboard from "./components/Dashboard.vue";
import cfgOpenWeatherMap from "./cfgOpenWeatherMap";
import cfgUnsplash from "./cfgUnsplash";

export default {
  name: "App",
  components: {
    Dashboard,
  },
  data() {
    return {
      date: "",
      cfgOpenWeatherMap: {},
      cfgUnsplash: {},
      backgroundImg:
        "https://images.unsplash.com/photo-1542325823-53124d9c5cbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80",
    };
  },
  mounted() {
    this.cfgOpenWeatherMap = cfgOpenWeatherMap;
    this.cfgUnsplash = cfgUnsplash;
    let date = new Date();
    let options = {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "2-digit",
    };
    this.date = date.toLocaleDateString("fr-FR", options);
    this.date = this.date[0].toUpperCase() + this.date.substring(1);
  },
  methods: {
    changeBg(imgUrl) {
      this.backgroundImg = imgUrl;
    },
  },
};
</script>

<style>
body,
html {
  height: 100%;
  margin: 0;
}
#app {
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  text-align: left;
  color: #fff;
  font-size: 24px;
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
}
</style>
